<!DOCTYPE html>
<html>
<head>
    <title>Potwierdzenie Rezerwacji</title>
</head>
<body>
    <p>Witaj {{name}},</p>
    <p>Twoja rezerwacja została pomyślnie potwierdzona!</p>
    <p>Dziękujemy za wybranie naszej restauracji.</p>
    <p>Z poważaniem,</p>
    <p>Zespół Restaurant Booking</p>
</body>
</html>
