<!DOCTYPE html>
<html>
<head>
    <title>Odrzucenie Rezerwacji</title>
</head>
<body>
    <p>Witaj {{name}},</p>
    <p>Z przykrością informujemy, że Twoja rezerwacja została odrzucona.</p>
    <p>Przepraszamy za wszelkie niedogodności.</p>
    <p>Z poważaniem,</p>
    <p>Zespół Restaurant Booking</p>
</body>
</html>
