<!DOCTYPE html>
<html>
<head>
    <title>Zmiana Statusu Rezerwacji</title>
</head>
<body>
    <p>Witaj {{name}},</p>
    <p>Informujemy, że status Twojej rezerwacji został zmieniony na: <strong>{{status}}</strong>.</p>
    <p>Jeśli masz jakiekolwiek pytania, skontaktuj się z nami.</p>
    <p>Z poważaniem,</p>
    <p>Zespół Restaurant Booking</p>
</body>
</html>
